#Listado {
    padding-top: 60px;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
#barratareas {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: var(--principal);
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 100;
}
#logo{
    width: 120px;
    height: auto;
}
#logo:hover{
    cursor: pointer;
}
#botonMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundario);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
#botonMenu:hover{
    cursor: pointer;
    background-color: var(--terciario);
    transform: scale(1.1);
}
#botonMenu img {
    height: 50%;
    width: 50%;
}
#sectionInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 80px);
}
.barraLateral {
    position: fixed;
    box-shadow: 0px 0px 2px 1px #111111;
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 50vw;
    background-color: var(--principal);
    transition: 0.1s linear;
    z-index: 10000000;
}
.barraLateral > ul > li {
    padding: 20px 30px;
    color: white;
}
.barraLateral > ul > li:hover{
    background-color: var(--terciario);
    color: white;
    cursor: pointer;
}
.barraLateral > ul > button {
    background-color: #111111;
    transition: 0.3s;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    height: 30px;
    width: 30px;
    left: calc((50vw - 15px) / 2);
}
.barraLateral > ul > button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--terciario);
}